<mat-drawer-container class="rsk-container" autosize>
  <mat-drawer class="rsk-sidenav" #drawer mode="side">
    <h3 style="color: #fff">Side nav items are here...</h3>
  </mat-drawer>

  <mat-drawer-content>
    <div class="rsk-sidenav-content">
      <mat-icon
        type="button"
        style="
          font-size: 18px;
          height: 20px;
          width: 50px;
          color: #000;
          top: 10px;
        "
        (click)="drawer.toggle()"
        >menu</mat-icon
      >
      <div class="pageContent">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="pageContent"></div>
  </mat-drawer-content>
</mat-drawer-container>
